
#wsp{
    position:relative;
    width:300px;
    height:225px;
}
#prof{
    position:relative;
    height:200px;
    width:200px;
    margin-top:30px;
    margin-left:30px;
    z-index: 1;
}
#avatar{
    display:none;
}
#back{
    position:absolute;
    margin-left:20px;
    width:444%;
    height:100px;
    margin-left: -100%;
    z-index: -1;
}
#profil{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    z-index:2;
    margin-top:-50px;
    margin-left:550px;
    width:500px;
}
#pl{
    margin-top:0px;
    margin-left:20px;
    padding:50px 50px;
    background-color: white;
    float:left;
    height: 200px;
    width:150px;
    display:block;

}
#p{
    color:rgb(38, 38, 140);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size:25px;
    width:300px;
    margin-left:-35px;
    margin-top:-17px;
}
#pr{
    margin-top:0px;
    margin-left:30px;
    
    background-color: white;
    text-align: center;
    width:800px;
    height:400px;
   
    display:block;
    float:left;
}
    
#t{
    background-color: rgb(61, 61, 237);
}
#inf{
    margin-top:-70px;
}
h2{
    color:rgb(38, 38, 140);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 10px;
}
#text{
    height:150px;
    width:750px;
    border-color:rgb(43, 109, 223);
   
}
li{
    margin-left:-40px;
    border-bottom: 1px solid #ccc;
}
ul{
    width:200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    font-size:18px;
    
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #00aaff;
}
