form{
    background-color: '#263238';
    color: '#ffffff';
    padding: '20px';
    border-radius: '5px';
    width: '30%';
    max-width: '400px';
    margin-left: '35%';
    margin: '0 auto';
}
label{
    display: 'block';
    margin-bottom: '8px';
}
input{
    width: '95%';
    padding: '10px';
    border: '1px solid #78909c';
    border-radius: '3px';
    margin-bottom: '15px';
    color: '#ffffff';
    background-color: '#37474f';
}
submitButton{
    background-color: '#1976d2';
    color: '#ffffff';
    padding: '10px 20px';
    border: 'none';
    border-radius: '3px';
    cursor: 'pointer';
}